@require 'base'
@require 'account'
@require 'players-list'

.main
  width: 718px
  .left
    float: left
    width: 386px
    margin-right: 2px
  .right
    overflow: hidden
  .profile
    border: 1px solid black
    padding: 2px
    overflow: hidden
    .avatar
      border: 1px solid black
      float: left
      margin-right: 2px
      .avatar-img
        width: 90px
        height: 90px
        display: block
      .name
        font-size: 13px
        font-weight: bold
        text-align: center
        padding-top: 1px
    .info
      overflow: hidden
    table
      border-collapse: collapse
      th, td
        padding-top: 2px
      td
        text-align: center
    .bio
      border: 1px solid black
      padding: 4px
      margin-top: 2px
      height: 60px
      overflow: hidden
      text-overflow: ellipsis
  .actions
    margin-top: 4px
    text-align: center
    button
      padding: 0 10px
      margin-right: 16px
    .form-logout
      display: inline
      button
        color: $red
        margin-right: 0
    .error
      color: $red
      margin: 4px 0
      min-height: 15px

  .players-list-container
    > .hd
      background: $bgGray
      text-align: center
      font-weight: bold
      font-size: 13px
      border: 1px solid black
      padding-top: 2px
      border-bottom: none
    #players-list
      height: 410px
      overflow-y: scroll
      padding: 2px
      border: 1px solid black

  .player-slots
    margin: 5px auto 40px
    text-align: center
    .label
      font-size: 13px
      font-weight: bold
      display: inline-block
      margin-left: -20px
    .progress
      border: 1px solid black
      width: 120px
      height: 12px
      display: inline-block
      position: relative
      margin-left: 5px
    .bar
      position: absolute
      left: 0
      top: 0
      height: 100%
      background: yellow
      z-index: -1
    .number
      font-weight: bold

  a.rules
    float: right
  #log
    white-space: pre-line
    background: $bgGray
    height: 611px
    border: 1px solid black
    overflow-y: scroll