@require 'base'
@require './leader-board'
@require 'account'
@require 'players-list'
@require 'rules'

html, body
  height: 100%
  box-sizing: border-box
  margin: 0

.main
#leader-board
  label
    font: 12px 'Segoe Script', 'Segoe Print', script
    transform-origin: top left
    line-height: 1

.main
  padding-top: 2px
  padding-left: 2px
  width: 718px
  .left
    float: left
    width: 386px
    margin-right: 1px
  .right
    overflow: hidden
  .profile
    border: 1px solid black
    padding: 1px
    overflow: hidden
    .avatar
      border: 1px solid black
      float: left
      margin-right: 1px
      .avatar-img
        width: 90px
        height: 90px
        display: block
      .name
        font-size: 13px
        font-weight: bold
        text-align: center
        padding-top: 1px
    .info
      overflow: hidden
    table
      border-collapse: collapse
      th, td
        padding-top: 1px
      td
        text-align: center
    .bio
      border: 1px solid black
      padding: 4px
      margin-top: 1px
      height: 52px
      overflow: hidden
      text-overflow: ellipsis
      line-height: 1.2
    #my-level
    #my-score
      font-size: 20px
      font-weight: bold
  .actions
    margin-top: 4px
    text-align: center
    button
      padding: 0 10px
    .error
      color: $red
      margin: 4px 0
      min-height: 15px
  .btn-wrapper
    position: relative
    display: inline-block
    margin-right: 16px
    form
      display: none
      position: absolute
      z-index: 10
      background: white
      left: 0
      top: 0
      border: 1px solid black
      padding: 5px
    &.is-open form
      display: block
    textarea
      width: 323px
      height: 80px
      display: block
    .count
      color: red
      position: absolute
      right: 15px
      margin-top: -20px
      pointer-event: none
    .action
      margin-top: 7px
      text-align: left
      overflow: hidden
      button
        float: right
    .tip::before
      content: 'Tips: '


  .form-logout
    display: inline
    button
      color: $red
      margin-right: 0

  .players-list-container
    > .hd
      background: $bgGray
      text-align: center
      font-weight: bold
      font-size: 13px
      border: 1px solid black
      padding-top: 1px
      border-bottom: none
    #players-list
      box-sizing: border-box
      height: 443px
      overflow-y: scroll
      padding: 3px 1px
      border: 1px solid black

  .player-slots
    margin: 5px auto
    text-align: center
    .label
      font-size: 13px
      font-weight: bold
      display: inline-block
      margin-left: -20px
    .progress
      border: 1px solid black
      width: 120px
      height: 12px
      display: inline-block
      position: relative
      margin-left: 5px
    .bar
      position: absolute
      left: 0
      top: 0
      height: 100%
      background: yellow
      z-index: -1
    .number
      font-weight: bold

  a.rules
    float: right

  #log
    box-sizing: border-box
    padding: 4px 2px 4px 4px
    white-space: pre-line
    background: $bgGray
    height: 637px
    border: 1px solid black
    color: #4d4d4d
    display: -webkit-box
    -webkit-box-orient : vertical
    -webkit-line-clamp: 42
    overflow-y: hidden
    line-height: 15px

.players-countdown
  color: red
  font-weight: bold
  p:first-child
    padding-left: 82px
  p:not(:first-child)
    text-align: center


.copyright
  position: absolute
  left: 2px
  right: 2px
  bottom: 2px

.page-login
.page-create
  .copyright
    bottom: 15px
    text-align: center