#leader-board
  background: white
  position: absolute
  width: 414px
  right: 3px
  top: 8px
  label
    display: block
    text-align: right
    transform-origin: top right
  .table
    overflow: hidden
  table
    border-top: none
    position: relative
    margin-top: -3px
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 3px
      height: 1px
      background: black
  thead { opacity: 0; border: 0 none; height: 0; }
  thead * { margin: 0; padding: 0; border: 0 none; height: 0px; }
  .title-container
    tr
      height: 18px
    td
      background: $bgGray
      text-align: center
      padding-top: 1px
  .title
    font-weight: bold
  tr
    .rank::after
      content: 'st'
      font-size: 12px
      font-weight: normal
  tr:nth-child(10n + 1)
    .rank::after
      content: 'st'
  tr:nth-child(10n + 2)
    .rank::after
      content: 'nd'
  tr:nth-child(10n + 3)
    .rank::after
      content: 'rd'
  .rank
    width: 45px
    text-align: center
    font-size: 20px
    font-weight: bold
  .leader-board-item
    .avatar
      width: 45px
      height: 45px
      float: left
      vertical-align: top
    .player-info
      overflow: hidden
      vertical-align: top
      padding: 5px
      padding-bottom: 0
      position: relative
      height: 40px
    .name
      font-weight: bold
      font-size: 13px
    .ip
      font-style: italic
    .btn-message
      position: absolute
      right: 2px
      bottom: 2px
      border: 1px solid
      background: $bgGray
    .score-container
      text-align: center
      line-height: 1
      padding-top: 2px
    .score
      font-size: 28px
      font-weight: bold

.message-content
  position: absolute
  background: white
  border: 1px solid
  min-height: 30px
  padding: 5px

#leader-board-update-time
  text-align: center
  margin-top: 2px
  &::before
    content: 'Last updated on: '
  &::after
    content: ' (UTC)'