.player-card
  padding: 2px
  border: 1px solid black
  overflow: hidden
  margin-bottom: 2px
  &:last-child
    margin-bottom: 0
  .avatar
    float: left
    margin-right: 2px
    border: 1px solid black
    .avatar-img
      width: 45px
      height: 45px
      display: block
    .level
      display: block
      text-align: center
      font-weight: bold
      border-top: 1px solid black
      padding-top: 2px
      line-height: 1
  .info
    overflow: hidden
    border: 1px solid black
  .hd
    background: transparent
    font-size: 13px
    padding: 2px 2px 0
    border-bottom: 1px solid black
  .ip
    font-size: 12px
    margin-left: 0.3em
  .bd
    padding: 2px
    height: 37px
    overflow: hidden
    text-overflow: ellipsis
