.story-board-wrapper
  position: absolute
  width: 378px
  height: 575px
  padding-right: 137px
  right: 0
  top: 8px
  background: url(../../pics/banner1.jpg) right top \/ 137px 575px no-repeat
  &.closed
    display: none
  label
    float: right
  .da-knil
    position: absolute
    right: 0
    top: 0
    z-index: 1
    width: 137px
    height: 575px
  .close
    position: absolute
    right: 0
    top: 0
    width: 15px
    height: 15px


#story-board
  background: white
  &.closed
    display: none
  th
    padding: 10px 0 9px
    font-weight: normal
  .title
    font-size: 16px
    line-height: 1

  .story-board-item
    &.need-expand
      .message
        cursor: pointer
        position relative
        &::after
          content: '▼'
          position: absolute
          bottom: -1px
          right: -2px
    .avatar
      width: 47px
      height: 47px
      float: left
      vertical-align: top
      margin: 1px
    .name
      font-size: 13px
      font-weight: bold
    .player-info
      overflow: hidden
      vertical-align: top
      padding: 9px
      padding-bottom: 0
      .bd
        margin-top: 2px
        font-style: italic
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        padding-right: 7px
        font-size: 12px
